# Configurações do Servidor
PORT=3000
BASE_PATH=/core
API_DESCRIPTION=API Rest do Leonidas Core

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=leonidas_core
DB_USER=postgres
DB_PASSWORD=password
DB_SSLMODE=disable

# Configurações do Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Configurações de Log
LOG_LEVEL=info

# Configurações de Plugins
PLUGINS_PATH=./plugins
